@model IEnumerable<WebAPI.Models.Product>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Products</title>
    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('/images/IMG_7382.jpg');
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
            margin: 0;
            padding-top: 20px;
        }

        h1 {
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
        }

        .container {
            max-width: 800px;
            margin: auto;
            padding: 20px;
        }

        .table {
            background-color: #fff;
        }

            .table th {
                background-color: #007bff;
                color: #fff;
            }

            .table td {
                vertical-align: middle;
                color: #333; /* Couleur du texte dans les cellules */
            }

        .product-image {
            max-width: 150px;
            max-height: 150px;
        }

        .product-actions a {
            color: #007bff;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>List of Products</h1>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td><img src="@item.ProductImageUrl" alt="@item.Name" class="product-image"></td>
                            <td class="product-actions">
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
